.artVideo video {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 10vh;
}

aside {
    margin-top: -125vh !important;
}

.artVideo>div {
    margin-left: 32vh;
    margin-top: 10vh;
}

.pToCreate {
    font-size: 2rem;
    margin-top: 0.5vh;
}

.pWorld {
    margin-top: 2vh !important;
    color: #867772;
}

.artVideo>div>div {
    margin-top: 3vh;
}

.artVideo>div>div>a:nth-child(1),
a:nth-child(2),
a:nth-child(3) {
    color: rgb(234, 204, 194);
    background-color: #2e2e2e;
    padding: 8px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    margin-top: 1vh;
    border: 1px solid rgb(234, 204, 194);
    font-size: 0.7rem;
}

.divAlchemy1 {
    background-image: url(../img/ETC_6.webp);
    height: 35vh;
    width: 30vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.divAlchemy2,
.divAlchemy3 {
    height: 35vh;
    width: 30vw;
}

.divAlchemy4 {
    background-image: url(../img/ETC_5.webp);
    height: 35vh;
    width: 30vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.divArtAlchemy {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.artSoundAlchemy {
    margin-top: 10vh;
}

.divAlchemy2>p:nth-child(3) {
    color: #867772;
    margin-top: 2vh;
}

.divAlchemy2>p:nth-child(2) {
    font-size: 1.5rem;
    margin-top: 1vh;
}

.divAlchemy3>p:nth-child(2) {
    font-size: 1.5rem;
    margin-top: 1vh;
}

.divAlchemy3>p:nth-child(3) {
    color: #867772;
    margin-top: 2vh;
}

.artSoundAlchemy {
    margin-bottom: 10vh;
}

.divAlchemy2>p {
    margin-left: 3vh;
}


.divAlchemy2>p:nth-child(1) {
    margin-top: 3vh;
}

.divAlchemy3>p:nth-child(1) {
    margin-top: 3vh;
}