.divLeftArtShop1 {
    width: 45%;
    height: 100vh;
    background-image: url(../img/section-composition4.jpg);
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -17vh;
    z-index: -1;
}

/*  --------------- The lounger -------------  */
.p1Shop {
    font-family: 'Work sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(234, 204, 194);
    font-size: 1.7rem;
}

.p2Shop {
    font-family: 'Work sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #867772;
    margin-top: 1vh;
}

.artShop1 {
    display: flex;
    margin-top: 7vh;
}

.divRightArtShop1 {
    margin-top: 4.5vh;
    margin-left: 5vw;
}

.divRightArtShop1 div {
    margin-top: 53vh;
}

aside {
    position: fixed;
    margin-top: 38vh;
}

.divRightArtShop1 {
    width: 36%;
    height: 54vh;
    z-index: -1;
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.p500,
.divRightArtShop1>div>p:nth-child(2) {
    color: #867772;
}

.beoplayh9 {
    font-size: 1.75rem;
}

.divRightArtShop1 div {
    text-align: center;
}

.divRightArtShop1 > img {
    height: 59.5vh;
}

.divRightArtShop1>div>p:nth-child(2),
p:nth-child(3),
p:nth-child(4) {
    margin-top: 1vh;
}

.divRightArtShop1 > p:nth-child(3){
    color: #867772;
}

.aBuy {
    background-color: rgb(234, 204, 194);
    color: #2e2e2e;
    padding: 8px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
}

.artSoundAlchemy {
    display: flex;
}